ensime*
metastore_db
spark-warehouse
.ensime
*.cache
*.log
*.class
*.pyc
.RData
.Rhistory
.history

*.aux
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.pcl
*~

Scripts/Scala/.ipynb_checkpoints/*
Scripts/Scala/notebooks/.ipynb_checkpoints/*
Scripts/Scala/PFlock/bash/target/routing-graph-cache/*
Scripts/Scala/PFlock/target/routing-graph-cache/*


#/target/*
#/project/*
#/.idea/*
#/.idea/workspace.xml
#/.ensime
#/.ensime_cache/*
#/.classpath
#/.project
#/.settings/*
#/.bloop/
#/.metals/

Scripts/Scala/legacy/ICPE/target/*
Scripts/Scala/legacy/ICPE/project/*
Scripts/Scala/legacy/ICPE/.idea/*
Scripts/Scala/legacy/ICPE/.idea/workspace.xml
Scripts/Scala/legacy/ICPE/.ensime
Scripts/Scala/legacy/ICPE/.ensime_cache/*
Scripts/Scala/legacy/ICPE/.classpath
Scripts/Scala/legacy/ICPE/.project
Scripts/Scala/legacy/ICPE/.settings/*
Scripts/Scala/legacy/ICPE/.bloop/
Scripts/Scala/legacy/ICPE/.metals/

Scripts/Scala/P3D/target/*
Scripts/Scala/P3D/project/*
Scripts/Scala/P3D/.idea/*
Scripts/Scala/P3D/.idea/workspace.xml
Scripts/Scala/P3D/.ensime
Scripts/Scala/P3D/.ensime_cache/*
Scripts/Scala/P3D/.classpath
Scripts/Scala/P3D/.project
Scripts/Scala/P3D/.settings/*
Scripts/Scala/P3D/.bloop/
Scripts/Scala/P3D/.metals/

Scripts/Scala/DSTester/target/*
Scripts/Scala/DSTester/project/*
Scripts/Scala/DSTester/.ensime
Scripts/Scala/DSTester/.ensime_cache/*
Scripts/Scala/DSTester/.classpath
Scripts/Scala/DSTester/.project
Scripts/Scala/DSTester/.settings/*

Scripts/Scala/SITester/.bsp/*
Scripts/Scala/SITester/target/*
Scripts/Scala/SITester/project/*
Scripts/Scala/SITester/.ensime
Scripts/Scala/SITester/.ensime_cache/*
Scripts/Scala/SITester/.classpath
Scripts/Scala/SITester/.project
Scripts/Scala/SITester/.settings/*

Scripts/Scala/PFlock/.bsp/*
Scripts/Scala/PFlock/.bloop/*
Scripts/Scala/PFlock/.metals/*
Scripts/Scala/PFlock/.vscode/*
Scripts/Scala/PFlock/.idea/*
Scripts/Scala/PFlock/.idea/workspace.xml
Scripts/Scala/PFlock/target/*
Scripts/Scala/PFlock/project/*
Scripts/Scala/PFlock/.ensime
Scripts/Scala/PFlock/.ensime_cache/*
Scripts/Scala/PFlock/.classpath
Scripts/Scala/PFlock/.project
Scripts/Scala/PFlock/.settings/*

utils/Misc/target/*
utils/Misc/project/*
utils/Misc/.idea/*
utils/Misc/.idea/workspace.xml
utils/Misc/.ensime
utils/Misc/.ensime_cache/*
utils/Misc/.classpath
utils/Misc/.project
utils/Misc/.settings/*
utils/Misc/.bloop/
utils/Misc/.metals/

/utils/PFLogger/target/*
/utils/PFLogger/project/*
/utils/PFLogger/.idea/*
/utils/PFLogger/.idea/workspace.xml
/utils/PFLogger/.ensime
/utils/PFLogger/.ensime_cache/*
/utils/PFLogger/.classpath
/utils/PFLogger/.project
/utils/PFLogger/.settings/*
/utils/PFLogger/.bloop/
/utils/PFLogger/.metals/