ensime*
metastore_db
spark-warehouse
.ensime
*.cache
*.log
*.class
*.pyc
.RData
.Rhistory
.history

*.aux
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.pcl
*~

#/target/*
#/project/*
#/.idea/*
#/.idea/workspace.xml
#/.ensime
#/.ensime_cache/*
#/.classpath
#/.project
#/.settings/*
#/.bloop/
#/.metals/

Scripts/Scala/Cliques/target/*
Scripts/Scala/Cliques/project/*
Scripts/Scala/Cliques/.ensime
Scripts/Scala/Cliques/.ensime_cache/*
Scripts/Scala/Cliques/.classpath
Scripts/Scala/Cliques/.project
Scripts/Scala/Cliques/.settings/*

Scripts/Scala/PFlocks/target/*
Scripts/Scala/PFlocks/project/*
Scripts/Scala/PFlocks/.idea/*
Scripts/Scala/PFlocks/.idea/workspace.xml
Scripts/Scala/PFlocks/.ensime
Scripts/Scala/PFlocks/.ensime_cache/*
Scripts/Scala/PFlocks/.classpath
Scripts/Scala/PFlocks/.project
Scripts/Scala/PFlocks/.settings/*
Scripts/Scala/PFlocks/.bloop/
Scripts/Scala/PFlocks/.metals/

Scripts/Scala/FF/target/*
Scripts/Scala/FF/project/*
Scripts/Scala/FF/.idea/*
Scripts/Scala/FF/.idea/workspace.xml
Scripts/Scala/FF/.ensime
Scripts/Scala/FF/.ensime_cache/*
Scripts/Scala/FF/.classpath
Scripts/Scala/FF/.project
Scripts/Scala/FF/.settings/*
Scripts/Scala/FF/.bloop/
Scripts/Scala/FF/.metals/

Scripts/Scala/DatasetReplicator/.idea/*
Scripts/Scala/DatasetReplicator/target/*
Scripts/Scala/DatasetReplicator/project/*
Scripts/Scala/DatasetReplicator/.ensime
Scripts/Scala/DatasetReplicator/.ensime_cache/*
Scripts/Scala/DatasetReplicator/metastore_db/*
Scripts/Scala/DatasetReplicator/spark-warehouse/*

Scripts/Scala/FlockChecker/.idea/*
Scripts/Scala/FlockChecker/target/*
Scripts/Scala/FlockChecker/project/*
Scripts/Scala/FlockChecker/metastore_db/*
Scripts/Scala/FlockChecker/spark-warehouse/*

Scripts/Scala/SimbaTemplate/.idea/*
Scripts/Scala/SimbaTemplate/target/*
Scripts/Scala/SimbaTemplate/project/*
Scripts/Scala/SimbaTemplate/metastore_db/*
Scripts/Scala/SimbaTemplate/spark-warehouse/*

Scripts/Scala/LCM/target/*
Scripts/Scala/LCM/project/*
Scripts/Scala/LCM/.idea/*
Scripts/Scala/LCM/.idea/workspace.xml

Scripts/Scala/DatasetReplicator/target/*
Scripts/Scala/DatasetReplicator/project/*
Scripts/Scala/DatasetReplicator/.idea/*
Scripts/Scala/DatasetReplicator/.idea/workspace.xml
Scripts/Scala/DatasetReplicator/.ensime
Scripts/Scala/DatasetReplicator/.ensime_cache/*

Scripts/Scala/DatasetSplitter/target/*
Scripts/Scala/DatasetSplitter/project/*
Scripts/Scala/DatasetSplitter/.idea/*
Scripts/Scala/DatasetSplitter/.idea/workspace.xml
Scripts/Scala/DatasetSplitter/.ensime
Scripts/Scala/DatasetSplitter/.ensime_cache/*

Scripts/Scala/LATrajCleaner/target/*
Scripts/Scala/LATrajCleaner/project/*
Scripts/Scala/LATrajCleaner/.idea/*
Scripts/Scala/LATrajCleaner/.idea/workspace.xml
Scripts/Scala/LATrajCleaner/.ensime
Scripts/Scala/LATrajCleaner/.ensime_cache/*

Scripts/Scala/GLTrajCleaner/target/*
Scripts/Scala/GLTrajCleaner/project/*
Scripts/Scala/GLTrajCleaner/.idea/*
Scripts/Scala/GLTrajCleaner/.idea/workspace.xml
Scripts/Scala/GLTrajCleaner/.ensime
Scripts/Scala/GLTrajCleaner/.ensime_cache/*

Scripts/Scala/DBSCAN/target/*
Scripts/Scala/DBSCAN/project/*
Scripts/Scala/DBSCAN/.idea/*
Scripts/Scala/DBSCAN/.idea/workspace.xml
Scripts/Scala/DBSCAN/.ensime
Scripts/Scala/DBSCAN/.ensime_cache/*

Scripts/Scala/ICPE/target/*
Scripts/Scala/ICPE/project/*
Scripts/Scala/ICPE/.idea/*
Scripts/Scala/ICPE/.idea/workspace.xml
Scripts/Scala/ICPE/.ensime
Scripts/Scala/ICPE/.ensime_cache/*
Scripts/Scala/ICPE/.classpath
Scripts/Scala/ICPE/.project
Scripts/Scala/ICPE/.settings/*
Scripts/Scala/ICPE/.bloop/
Scripts/Scala/ICPE/.metals/

Scripts/Scala/DistanceJoin/target/*
Scripts/Scala/DistanceJoin/project/*
Scripts/Scala/DistanceJoin/.idea/*
Scripts/Scala/DistanceJoin/.idea/workspace.xml
Scripts/Scala/DistanceJoin/.ensime
Scripts/Scala/DistanceJoin/.ensime_cache/*
Scripts/Scala/DistanceJoin/.classpath
Scripts/Scala/DistanceJoin/.project
Scripts/Scala/DistanceJoin/.settings/*
Scripts/Scala/DistanceJoin/.bloop/
Scripts/Scala/DistanceJoin/.metals/

Scripts/Scala/GraphViewer/target/*
Scripts/Scala/GraphViewer/project/*
Scripts/Scala/GraphViewer/.idea/*
Scripts/Scala/GraphViewer/.idea/workspace.xml
Scripts/Scala/GraphViewer/.ensime
Scripts/Scala/GraphViewer/.ensime_cache/*
Scripts/Scala/GraphViewer/.classpath
Scripts/Scala/GraphViewer/.project
Scripts/Scala/GraphViewer/.settings/*
Scripts/Scala/GraphViewer/.bloop/
Scripts/Scala/GraphViewer/.metals/

Scripts/Scala/FlockFinderByCliques/target/*
Scripts/Scala/FlockFinderByCliques/project/*
Scripts/Scala/FlockFinderByCliques/.idea/*
Scripts/Scala/FlockFinderByCliques/.idea/workspace.xml
Scripts/Scala/FlockFinderByCliques/.ensime
Scripts/Scala/FlockFinderByCliques/.ensime_cache/*
Scripts/Scala/FlockFinderByCliques/.classpath
Scripts/Scala/FlockFinderByCliques/.project
Scripts/Scala/FlockFinderByCliques/.settings/*
Scripts/Scala/FlockFinderByCliques/.bloop/
Scripts/Scala/FlockFinderByCliques/.metals/

Scripts/Scala/Join/target/*
Scripts/Scala/Join/project/*
Scripts/Scala/Join/.idea/*
Scripts/Scala/Join/.idea/workspace.xml
Scripts/Scala/Join/.ensime
Scripts/Scala/Join/.ensime_cache/*
Scripts/Scala/Join/.classpath
Scripts/Scala/Join/.project
Scripts/Scala/Join/.settings/*
Scripts/Scala/Join/.bloop/
Scripts/Scala/Join/.metals/

Scripts/Scala/Geo/target/*
Scripts/Scala/Geo/project/*
Scripts/Scala/Geo/.idea/*
Scripts/Scala/Geo/.idea/workspace.xml
Scripts/Scala/Geo/.ensime
Scripts/Scala/Geo/.ensime_cache/*
Scripts/Scala/Geo/.classpath
Scripts/Scala/Geo/.project
Scripts/Scala/Geo/.settings/*
Scripts/Scala/Geo/.bloop/
Scripts/Scala/Geo/.metals/

utils/Misc/target/*
utils/Misc/project/*
utils/Misc/.idea/*
utils/Misc/.idea/workspace.xml
utils/Misc/.ensime
utils/Misc/.ensime_cache/*
utils/Misc/.classpath
utils/Misc/.project
utils/Misc/.settings/*
utils/Misc/.bloop/
utils/Misc/.metals/

/utils/PFLogger/target/*
/utils/PFLogger/project/*
/utils/PFLogger/.idea/*
/utils/PFLogger/.idea/workspace.xml
/utils/PFLogger/.ensime
/utils/PFLogger/.ensime_cache/*
/utils/PFLogger/.classpath
/utils/PFLogger/.project
/utils/PFLogger/.settings/*
/utils/PFLogger/.bloop/
/utils/PFLogger/.metals/


Scripts/Scala/TrajFactory/target/*
Scripts/Scala/TrajFactory/project/*
Scripts/Scala/TrajFactory/.idea/*
Scripts/Scala/TrajFactory/.idea/workspace.xml
Scripts/Scala/TrajFactory/.ensime
Scripts/Scala/TrajFactory/.ensime_cache/*

Scripts/Scala/BerlinCopier/target/*
Scripts/Scala/BerlinCopier/project/*
Scripts/Scala/BerlinCopier/.idea/*
Scripts/Scala/BerlinCopier/.idea/workspace.xml
Scripts/Scala/BerlinCopier/.ensime
Scripts/Scala/BerlinCopier/.ensime_cache/*

Scripts/Scala/PLCM/target/*
Scripts/Scala/PLCM/project/*
Scripts/Scala/PLCM/.ensime
Scripts/Scala/PLCM/.ensime_cache/*

Scripts/Scala/MF/target/*
Scripts/Scala/MF/project/*
Scripts/Scala/MF/.ensime
Scripts/Scala/MF/.ensime_cache/*

Validation/Scaleup/.ensime
Validation/Scaleup/.ensime_cache/*
Validation/Scaleup/target/*
Validation/Scaleup/project/*

PFlock/.idea/*
PFlock/target/*
PFlock/project/*
PFlock/metastore_db/*
PFlock/spark-warehouse/*
PFlock/.ensime
PFlock/ensime.sbt
PFlock/.ensime_cache/*
PFlock/.metals/*
PFlock/.bloop/*
PFlock/project/metals.sbt

GeoSpark/.idea/*
GeoSpark/target/*
GeoSpark/project/*
GeoSpark/metastore_db/*
GeoSpark/spark-warehouse/*
GeoSpark/.ensime
GeoSpark/ensime.sbt
GeoSpark/.ensime_cache/*

