target/*
project/*
lib/*
.bsp/*
.bloop/*
.metals/*
.vscode/*
.idea/*
.ensime_cache/*
.classpath
.settings/*
.ensime
.project
.RData
.Rhistory
.history

*.cache
*.log
*.class
*.pyc
*.aux
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.pcl
*~
